<nav class="navbar navbar-expand-lg navbar-light bg-body-light border-bottom sticky-top">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-house-lock" style="color: #8aa6f4;"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="/listings"><span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link" href="/listings">Explore</a>
        
      </div>
    </div>

    <div class="search"><nav class="navbar">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="srch">
        <button class="btn  my-2 my-sm-0" type="submit" id="btn-srch"><i class="fa-solid fa-magnifying-glass"></i>&nbsp; &nbsp;Search</button>
      </form>
    </nav></div>
        <div class="navbar-nav ms-auto">
          <a class="nav-item nav-link" href="/listings/new">Add new listing</a>
         <%if(!currUser){%>
          <a class="nav-item nav-link" href="/users/signup"><b>Sign Up</b></a>
          <a class="nav-item nav-link" href="/users/login"><b>Login</b></a><%}%>
          <%if(currUser){%>
          <a class="nav-item nav-link" href="/users/logout"><b>Log Out</b></a><%}%>
        </div>
    
  </nav>